.form {
  text-align: center;
  width: 100%;
}

.content {
  margin-top: 5%;
  border: 1px solid #E2C5D7;
  box-shadow: 8px 8px 16px 4px rgba(137, 143, 150, 0.04);
  border-radius: 10px;
}

.content h3 {
  font-size: var(--small-font-size) !important;
  text-transform: uppercase;
  padding: 3% 0;
}