.form {
  text-align: center;
  width: 100%;
  margin-top: 10%;
}

.form__title {
  padding: 5% 0;
  font-size: var(--h3-font-size);
  font-weight: 600;
}

.content {
  margin-top: 5%;
  border: 1px solid #E2C5D7;
  box-shadow: 8px 8px 16px 4px rgba(137, 143, 150, 0.04);
  border-radius: 10px;
}

.content h3 {
  font-size: var(--small-font-size) !important;
  text-transform: uppercase;
  padding: 3% 0;
}

/*  */

.row {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.row button {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: var(--smaller-font-size);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
}

.row .left button {
  background: #C4C4C4;
  padding: 10px 25px;
}

.row .right button {
  background: #A3CE41;
}