.form {
  text-align: center;
  width: 100%;
  margin-top: 10%;
}

.form__title {
  padding: 5% 0;
  font-size: var(--h3-font-size);
  font-weight: 600;
}

.content {
  margin: 10% 0;
  border: 1px solid #E2C5D7;
  box-shadow: 8px 8px 16px 4px rgba(137, 143, 150, 0.04);
  border-radius: 10px;
}

.content h3 {
  font-size: var(--small-font-size) !important;
  text-transform: uppercase;
  padding: 3% 0;
}

/*  */

.row {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.row button {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: var(--smaller-font-size);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
}

.row .left button {
  background: #C4C4C4;
  padding: 10px 25px;
}

.row .right button {
  background: #A3CE41;
}

.input__text {
  width: 40%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-radius: 5px;
  border: 2px solid #E2C5D7;
}

.input__text input {
  border: none;
  outline: none;
  width: 90%;
}

.input__text input::placeholder {
  text-align: center;
  font-weight: 600;
  font-size: var(--h3-font-size);
}

.count {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.count .row button:nth-child(2) {
  background: var(--title-color);
  color: #fff;
  font-size: var(--h3-font-size);
}


@media screen and (min-width: 960px) {
  .form {
    margin-top: 3%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .form__title {
    padding: 0;
    font-size: var(--h3-font-size);
    font-weight: 600;
  }

  .content h3 {
    font-size: var(--h3-font-size) !important;
    font-weight: 400;
  }

  .row button {
    padding: 10px 20px;
    font-size: var(--normal-font-size);
  }

  .content {
    margin: 5% 0;
  }


}