.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.card h3 {
  font-size: var(--small-font-size) !important;
  padding-top: 5%;
}

.card h3 span {
  font-weight: 400;
}