.assurance {
  width: 100%;
}

.content {
  text-align: center;
}

.content h2 {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
}

.content h3 {
  font-size: var(--h3-font-size);
}

.text {
  margin-bottom: 8%;
}

@media screen and (min-width: 960px) {
  .content h2 {
    font-size: var(--h2-font-size);
  }

  .content h3 {
    font-size: var(--h3-font-size);
  }

  .border {
    border: 2px solid #E2C5D7;
    padding: 3% 2%;
    border-radius: 10px;
  }

  .text {
    margin-bottom: 3%;
  }

}